body{
    background-color: rgb(194, 124, 39);
    font: normal;
    color: aliceblue;

}
section{
    font: 8pt normal;
    background-color: rgb(30, 98, 119);
    width: 400px;
    border-radius: 8px;
    margin: auto;
    
}

div{
    text-align: center;
}